<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        
    <link th:replace="/fragments/head">
    <link rel="stylesheet" href="/css/estilocontacto.css">
    
    <style>
            html,body{   
                background-image: url("/img/imagenportada.jpg");
                background-attachment: fixed;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 90%;
               
            }

        </style>
    </head>
    <body>
        <div th:replace="/fragments/navbar"></div>
       
         <div class="mb-3" id="mx">
            <form action="#" target="" method="get" name="formDatosPersonales">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Escribe tu nombre..."/>
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" id="apellidos" placeholder="Escribe tu Apellido..."/>
                <label for="email" />Email</label>
                <input type="email" name="email" id="email" placeholder="Escribe tu email..." required />
                <label for="asunto">Asunto</label>
                <input type ="text" name="asunto" id="asunto" placeholder="Escribe el asunto..."/>
                <label for="mensaje">Mensaje</label>
                <textarea name="mensaje" for="mensaje" placeholder="describe brevemente en menos de 300 carácteres" maxlength="300"></textarea>
                <input type="submit" name="enviar" value="enviar datos"/>
            </form> 
        </div>
        <footer class="py-5 bg-black">
            <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Your Website 2021</p></div>
            <div class="social-icons">
                <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
                    <a class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark m-3" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark m-3" href="#!"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            
            
    </body>
</html>
